version: '3.7'

services:
  database:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: 'database'
      MYSQL_USER: 'yakut'
      MYSQL_PASSWORD: 'Yakut2013'
      MYSQL_ROOT_PASSWORD: 'R12345r'
    networks:
      - yunus-net
  myapp:
    build: .
    restart: always
    depends_on:
      - database
    ports:
      - "80:80"
    networks:
      - yunus-net
networks:
  yunus-net:
    driver: bridge